<mat-toolbar color="warn">
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/">
        <mat-icon>list</mat-icon>
        <span>Todo list</span>
      </button>
      <button mat-menu-item routerLink="/create">
        <mat-icon>add</mat-icon>
        <span>Add new task</span>
      </button>
      <button mat-menu-item  *ngIf="getLoginStatus()" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
  <span>Todo App</span>
  <div class="login" *ngIf="!getLoginStatus()">
    <button mat-menu-item (click)="openLoginDialog()">
      <span>Login </span>
      <mat-icon>login</mat-icon>
    </button>
  </div>
  <div class="login" *ngIf="getLoginStatus()">
    <button mat-menu-item (click)="logout()">
      <span>Logout </span>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>