{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint" , "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "never"
          }],
        "no-irregular-whitespace": "error",
        "no-multiple-empty-lines": [2, {"max": 2}],
        "no-multi-spaces": "error",
        "no-trailing-spaces": "error",
        "no-whitespace-before-property": "error",
        "space-before-blocks": ["error", "always"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", { "words": true, "nonwords": false }],
        "keyword-spacing": ["error", { "before": true, "after": true }],
        "object-curly-newline": ["error", { "multiline": true, "consistent": true }],
        "object-curly-spacing": ["error", "always"],
        "block-spacing": ["error", "always"],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "array-bracket-spacing": ["error", "never"],
        "semi-spacing": ["error", { "before": false, "after": true }]
    }
  }